<div class="table-container">
  <div class="mat-elevation-z8 table">
    <mat-toolbar>
      <div class="search">
        <mat-form-field appearance="outline">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput placeholder="Nhập từ khóa..." (keyup)="onSearch($event)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-icon-button class="add-btn" (click)="onAdd()" *ngIf="hasAddButton" >
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="onRefresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="table-content">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumnsWithoutLast" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-header"> {{ displayedColumnsHeader[column] }} </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="column === 'description' || column === 'descriptionDevice'" [matTooltip]="element[column]"
              matTooltipPosition="above">
              {{ element[column] | slice:0:50 }}<span *ngIf="element[column].length > 50">...</span>
            </span>
            <span *ngIf="column !== 'description' && column !== 'descriptionDevice'">
                {{ element[column] }}  
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="fixed-header"></th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="!element.returnedAt " >
              <button mat-icon-button color="primary" *ngFor="let action of cellActions"
                (click)="onActionClick(element, action.name)" [disabled]="disableAction(element, action)">
                <mat-icon>{{ action.icon }}</mat-icon>
              </button>
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="totalItems" [pageSize]="pageable.pageSize" [pageSizeOptions]="[5, 10, 20, 50, 100]"
      showFirstLastButtons aria-label="Select page of periodic elements" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>