<div class="table-container">
  <div class="mat-elevation-z8 table">
    <mat-toolbar>
      <div class="add-btn">
        <button mat-raised-button color="primary" ><mat-icon _ngcontent-ng-c464628892="" role="img"
            class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color" aria-hidden="true"
            data-mat-icon-type="font">add</mat-icon></button>
      </div>
      <div class="search-input">
        
      </div>
    </mat-toolbar>
    <div class="table-content">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column" class='fixed-header'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="fixed-header"> {{ column | titlecase }} </th>
          <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Sửa </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="editUser(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-- Cột Xóa -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Xóa </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteUser(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>