#menuTitle {
    font-size: medium;
    margin-right: 20px;
}

#menuTitle img {
    width: 120px;
    height: 30px;
    margin-right: 10px;
}

.mat-toolbar {
    height: 60px;
}

.mat-toolbar #account {
    margin-left: auto;
}
.mat-toolbar {
    background-color: var(--primary);
    color: white;
}

.mat-sidenav {
    background-color: var(--primary);
    width: 244px;
}

.side-nav-items {
    display: flexbox;
    flex-direction: column;
}

.side-menu-item {
    color: white !important;
    margin-top: 20px;
}


.main-content {
    box-sizing: border-box;
    height: calc(100vh - 60px);
    padding: 20px;
}

