<mat-toolbar  >

    <button mat-icon-button (click)="sidenav.toggle()" id="menuIcon" aria-label=" icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle"> <img src="assets/Logo_Bkav.png" alt="BKAV logo" > </span>
    <button mat-button id="account" [matMenuTriggerFor]="accountMenu" class="top-menu-item">
        <mat-icon>account_circle</mat-icon> {{ authService.getUsername() }}
    </button>
    <mat-menu #accountMenu="matMenu" class="account-menu">
        <div class="menu-content">
            <button mat-button color="primary" (click)="openUserInfor()" >Xem thông tin và đổi mật khẩu</button>
            <button mat-button color="warn" (click)="authService.logout()">Đăng xuất</button>
        </div>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container autosize>
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" opened="true" mode="side" class="side-nav">   
        <div class="side-nav-items">
            <div *ngIf="role === 'ADMIN'">
                <a mat-button routerLink="user" class="side-menu-item"><mat-icon>people</mat-icon> Quản lý Người dùng</a>
            </div>

            <div *ngIf="role === 'ADMIN'">
                <a mat-button routerLink="device" class="side-menu-item"><mat-icon>devices</mat-icon> Quản lý Thiết bị</a>
            </div>
            <div *ngIf="role === 'ADMIN'">
                <a mat-button routerLink="available-devices" class="side-menu-item"><mat-icon>live_tv</mat-icon> Thiết bị có sẵn </a>
            </div>
            <div *ngIf="role === 'ADMIN'">
                <a mat-button routerLink="current-assignment" class="side-menu-item"><mat-icon>assignment_ind</mat-icon> Thiết bị đang cho mượn</a>
            </div>
            <div *ngIf="role === 'ADMIN'">
                <a mat-button routerLink="returning-device" class="side-menu-item"><mat-icon>assignment_late</mat-icon> Thiết bị đợi trả</a>
            </div>

            <div *ngIf="role === 'USER'">
                <a mat-button routerLink="borrowed-devices" class="side-menu-item"><mat-icon>send_to_mobile</mat-icon> Thiết bị đang mượn </a>
            </div>
            <div *ngIf="role === 'USER'">
                <a mat-button routerLink="history-devices" class="side-menu-item"><mat-icon>send_to_mobile</mat-icon> Thiết bị đã mượn </a>
            </div>
            
        </div>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content> 


</mat-sidenav-container>
