.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 400px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

mat-form-field {
    margin-bottom: 1rem;

}