<h2 mat-dialog-title>{{ isEditMode ? 'Chỉnh sửa User' : 'Tạo User' }}</h2>
<mat-dialog-content>
  <form [formGroup]="userForm" >
    <mat-form-field appearance="outline">
      <mat-label>Tên đăng nhập</mat-label>
      <input matInput formControlName="username" placeholder="Nhập tên đăng nhập">
      <mat-error *ngIf="userForm.get('username')?.invalid">Tên đăng nhập là bắt buộc</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Vai trò</mat-label>
      <mat-select formControlName="role">
        <mat-option value="ADMIN">Admin</mat-option>
        <mat-option value="USER">User</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.get('role')?.invalid">Vui lòng chọn vai trò</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mật khẩu</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Nhập mật khẩu">
      <mat-error *ngIf="userForm.get('password')?.invalid">Mật khẩu phải ít nhất 6 ký tự</mat-error>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button (click)="onClose()">Hủy</button>
      <button mat-raised-button color="primary" [disabled]="userForm.invalid" (click)="onSubmit()">
        {{ isEditMode ? 'Cập nhật' : 'Tạo User' }}
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
